body {
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	color: #505962;
	text-shadow: 1px 1px 3px #800080;
}


.headings {
	text-transform: uppercase;
	font-family: 'Tangerine', cursive;
}

.dark{
	background-color: rgb(255, 51, 255, 0.2);
} /* for dark purple background*/

.dark-background {
	background: rgba(0, 0, 0, 0.7)
} /* for dark background images*/

.light {
	background: rgba(255, 255, 255, 0.2)
} /* for dark background images*/

.btn-lg, .btn-md, .btn-sm{
	color: white;
	border-color: white;
	margin-bottom: 0.6rem;
	background: #800080;
} /* for button*/

.btn-lg:hover, .btn-md:hover, .btn-smd:hover{
	background: #ff33ff;
	border-color: #ff33ff;
	color: #800080;
} /* for button hover*/

.offset:before {
	display: block;
	content: "";
	height: 4.1rem;
	margin-top: -4.1rem;
}

.horizontal-line{
	width: 100%;
	height: 0.2rem;
	background-color: #800080;
	margin: 0 auto 2rem;
}

/*===========Navigation===========*/
.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(255, 51, 255, 0.6)!important;
}

.navbar img{
	height: 2.5rem;
}

.navbar-nav li{
	padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #800080;
}

.navbar-toggler{
	background: rgba(255, 51, 255, 0.7);
	border-color: #800080;
	text-shadow: text-shadow: 1px 1px 3px white;
}

/*===========End of Navigation===========*/

/*===========Landing===========*/
.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
}

.home-wrapper {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10!important;
}

.home-inner {
	background-image: url("../images/home-background.jpg");
	background-size: cover;
	background-position: center center;
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	will-change: transform;
}

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 38%;
	z-index: 1;
	text-transform: uppercase;
	color: white;
}

.caption h1{
	font-size: 4rem;
	font-weight: 700;
	letter-spacing: .1rem;
	text-shadow: .1rem, .1rem, .8rem, black;
	padding-bottom: 1rem;
}

.caption h3{
	font-size: 2rem;
	text-shadow: .1rem, .1rem, .6rem, black;
	padding-bottom: 1.5rem;
}

/*===========End of Landing===========*/


/*===========Start of Products===========*/
.card-img h4 {
	color: #800080;
	margin-top: .3rem;
	font-weight: 700;
}

.products-heading {
	color: #800080;
}

.products-heading h2{
	margin: 0 auto;
	color: white;
	padding-bottom: 1.6rem;
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
}



.card {
	border-color: white;
	margin-bottom: 0.5rem;	
}

/*===========End of Products===========*/

/*===========About Us===========*/
.about-background{
	position: relative;
	width: 100%;
	height: 100%;
}

.about-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10!important;
}

.about-fixed {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	will-change: transform;
	background-image: url("../images/aboutus-background.jpg");
	background-size: cover;
	background-position: center center;
	will-change: transform;
	z-index: -1; 
}
/*===========End of About us===========*/

/*===========Contact==========*/
footer {
	padding: 3rem;
	font-weight: 600;
	color: #800080
}

strong {
	font-weight: 1000;
	text-transform: uppercase;
}

.row img {
	width: 100%;
}

footer a {
	color: #800080;
	padding: 0 0.5rem;
}

footer a:hover {
	color: #ff33ff;
}
/*===========End of Contact==========*/

/*===========fixed on smaller device==========*/
@media (max-width: 575px) {
	.caption h1{
		font-size: 2.5rem;
		letter-spacing: .1rem;
		padding-bottom: 1rem;}

	.caption h3{
		font-size: 1.2rem;
		text-shadow: .1rem, .1rem, .6rem, black;
		padding-bottom: 1.5rem;}

	.products-heading h2{
		font-size: 1.5rem;}

	.small-media{
		text-align: center!important;}

	.mhyjoey-pic {
		max-width: 50%!important;}
}

/*===========end of fixed on smaller device==========*/

/*===========fixed on medium device==========*/
@media (max-width: 767px) {

	.row .mhyjoey-pic {
		width: 100%;}

}
/*===========end fixed on medium device==========*/
.product-content {
	padding-top: 4.5rem;
	margin-bottom: .5rem;
}

.modal-body img{
	width: 100%;
	height: 100%;
}



/*=========product content========*/


/*=========end of product content========*/

/*=========more about us content========*/

.more-about-us{
	padding: 4rem 0; 
}

.more-about-fixed {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	will-change: transform;
	background-image: url("../images/aboutus-background.jpg");
	background-size: cover;
	background-position: center center;
	will-change: transform;
	z-index: -1; 
}

.row .mhyjoey-pic {
	border-radius: 50%;
	width: 80%;
}

.more-content {
	padding: 2rem 0;
}
/*=========end of more about is content=========*/

/*=========Our Story is content=========*/
video {
	width: 100%;
	height: 100%;
}

/*=========end of Our Story is content=========*/

/*========BOOTSTRAP BREAKPOINT
xs = no media since this is default

sm = landscape phone, 576px and up
@media (min-width: 576px) {...}

md = tablets, 768px and up
@media (min-width: 768px) {...}

lg = desktop, 992px and up
@media (min-width: 992px) {...}

xl = large desktop, 1200px and up
@media (min-width: 1200px) {...}

===========*/

/* purple-light color
#ff33ff
rgb(255, 51, 255)
hsl(300, 100%, 60%)

purple-dark color

#800080
rgb(128, 0, 128)
hsl(300, 100%, 25%)

*/

/*for card whole card to be a link
stretched-link
*/